<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <a href="http://138.197.140.165">&nbsp&nbsp&nbsp Click here to see alll contracts on the broker  </a>
    <h1> Ot go to your consumer contract by clicking the link below</h1>
    <ul>
      <%
        var list = '';
        var open = "<a href=\"http://138.197.140.165\">&nbspgo to broker by selecting your consumer contract link </a>";
        
        for (i = 0; i < userlist.length; i++) {
          var label = userlist[i].pact_contract.split('/');
          list += '<li><a href=\"http://138.197.140.165' + userlist[i].pact_contract + '\">' + label[5] + '</a></li>';
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>
